---
layout: default
title: Posts
---

<div class="home">

  <h1>Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% unless post.categories contains 'microblog' %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        in
        <span class="post-meta">
          {% if post.category %}
            {{ post.category | escape }}
          {% elsif post.categories %}
            {{ post.categories | join: ', ' | escape }}
          {% endif %}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>


      </li>
      {% endunless %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
